.parent {
	color: blue;
	font-weight: 600;
}

span {
	color: purple;
}

.cls {
	color: orange;
}

#first {
	color: magenta;
}

.parent span {
	color: red;
	font-weight: 600;
}

.parent span {
	color: black;
	font-weight: 600;
}

/*同じセレクタの場合、後に記載されたスタイルが適用される*/