@charset "UTF-8";

$cBlack: black;

.three-dot-spinner {
	text-align: center;

	& div {
		display: inline-block;
		width: 18px;
		height: 18px;
		background-color: $cBlack;
		border-radius: 50%;
		animation: sk-bouncedelay 1.4s infinite; // キーフレイル,秒数,無限

		@for $i from 1 through 2 { // $iは変数(1=>2)に変化して行く
			&:nth-child(#{$i}) { // インターポレーション型にする
				animation-delay: -0.32s / $i;
			}
		}
	}
}

@keyframes sk-bouncedelay {
	0% {
		transform: scale(0);
	}

	40% {
		transform: scale(1);
	}

	80% {
		transform: scale(0);
	}

	100% {
		transform: scale(0);
	}
}

body {
	text-align: center;
}

.rect {
	display: inline-block;
	width: 100px;
	height: 100px;
	background-color: $cBlack;
	animation: sk-2-bouncedelay 1.4s;
	animation-timing-function: ease;
	// animation-delay: 3s; // 遅延時間
	animation-iteration-count: 1; // 繰り返し数の指定
	// animation-iteration-count: infinite; // 無限に繰り返し表示
	// animation-direction: reverse; // 100%から0%での表示
	// animation-direction: alternate; // 折り返しでの表示(0=>100)
	// animation-direction: alternate-reverse; // 折り返しでの表示(100=>0)
	animation-fill-mode: forwards; // 終了時時点のCSSを保管
}

@keyframes sk-2-bouncedelay {
	from {
		transform: scale(0);
		background-color: white;
	}

	to {
		transform: scale(1);
	}
}

a {
	color: orange;

	&:visited {
		color: blue;
	}

	&:hover {
		color: red;
	}

	&:focus {
		color: green;
	}

	&:active {
		color: purple;
	}
}

div {
	& span {
		color: olive;

		&:nth-child(odd) { // odd => 偶数 even => 奇数
		color: purple;
		}
	}
}

@import "mixin";

.try {
	.spinner {
		width: 40px;
		height: 40px;
		background-color: $cBlack;
		margin: 100px auto;

		@include animation(
			$name: sk-rotateplane-2,
			$duration: 1.2s,
			$iteration-count: infinite,
			$timing-function: ease-in-out
			);
	}

	@keyframes sk-rotateplane-2 {
		0% {
			transform: perspective(120px) rotateX(0) rotateY(0); // perspective => 奥行きの設定
		}
		50% {
			transform: rotateX(-180deg) rotateY(0); // X軸を軸として回転(180度),Y軸の設定も行う
		}
		100% {
			transform: rotateX(-180deg) rotateY(-180deg);
		}
	}

	.double-spinner {
		width: 40px;
		height: 40px;
		position: relative;
		margin: 100px auto;

		& > div {
			width: 100%;
			height: 100%;
			border-radius: 50%;
			background-color: $cBlack;
			opacity: 0.6;
			position: absolute;
			top: 0;
			left: 0;

			@include animation(
				$name: sk-bounce,
				$iteration-count: infinite,
				$duration: 2s,
				$timing-function: ease-in-out
				);

			&:nth-child(2) {
				animation-delay: -1s;
			}
		}
	}

	@keyframes sk-bounce {
		0%,
		100%{
			transform: scale(0);
		}
		50% {
			transform: scale(1);
		}
	}

	.rect-spinner {
		width: 50px;
		height: 40px;
		text-align: center;
		letter-spacing: -2px;
		margin: 100px auto;

		& > div {
			width: 6px;
			height: 100%;
			display: inline-block;
			background-color: $cBlack;

			@include animation(
				$name: sk-stretchdelay,
				$duration: 1.2s,
				$iteration-count: infinite,
				$timing-function: ease-in-out
			);

			@for $i from 1 through 5 {
				&:nth-child(#{$i}) {
				animation-delay: -1.3s + $i * 0.1s;
				}
			}
		}
	}

	@keyframes sk-stretchdelay {
		0%,
		40%,
		100% {
			transform: scaleY(0.4);
		}
		20% {
			transform: scaleY(1);
		}
	}
}

